<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802136451096-ko7qsa2dntm7vq417b9mfkaounlpkkbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802136451096-ko7qsa2dntm7vq417b9mfkaounlpkkbl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802136451096-gt171q1ktlp20erl7md7c6qiedo0acer.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByRIaAiyPZSWQ_puXrWv4wGOqF1tb9VmY</string>
	<key>GCM_SENDER_ID</key>
	<string>802136451096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.couponchecker</string>
	<key>PROJECT_ID</key>
	<string>couponchecker-406307</string>
	<key>STORAGE_BUCKET</key>
	<string>couponchecker-406307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802136451096:ios:5959625cef4a6d6c3d7b6d</string>
</dict>
</plist>